<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="se.zinokader.spotiq">


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".app.SpotiqApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <service android:name=".service.SpotiqPlayerService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false" />

        <service android:name=".service.SpotifyCommunicatorService"/>

        <activity android:name=".feature.login.StartupActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".feature.login.SpotifyAuthenticationActivity"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".feature.lobby.LobbyActivity"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".feature.party.PartyActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity android:name=".feature.search.SearchActivity"
            android:theme="@style/AppThemeToolBarSearch"
            android:launchMode="singleTask" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
